body {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    background: #1f1f2e;
    padding: 25px;
    width: 360px;
    border-radius: 12px;
    text-align: center;
}

input {
    padding: 8px;
    width: 70%;
    border-radius: 5px;
    border: none;
}

button {
    padding: 8px 12px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.serve-btn {
    background: #ff4d4d;
    color: white;
    width: 100%;
}

li {
    background: #2e2e4e;
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
}
